{% set title="Blog-post" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% 
	set menuLinks = [
	{
		text: "Post",
		link: "post.html"
	},     
	{
		text: "Contacts",
		link: "#contacts"
	},   
	{
		text: "Blog",
		link: "blog.html",
		active: "active"
	}          
	]
%}

{% include 'parts/_header.html' %}



<main class="wrapper blog">
	<h1 class="animate animate__fadeInUp menu__h blog__heading">
		Latest Blog Posts
	</h1>
	<section class="blog__container">
		<article class="article animate animate__fadeInUp">
			<picture>
				<noscript class="loading-lazy">
					<source srcset="img/webp/img-blog-1.webp" type="image/webp">	
					<img laoding="lazy" src="img/img-blog-1.jpg" alt="article" class="article__pic" width="373" height="216">
				</noscript>
			</picture>
			<a href="post.html">
				<h2 class="article__h">
					Oat Milk — Coffee's Eco-Friendly Companion
				</h2>
			</a>
			<time datetime="2020-07-02" class="article__date">Jul 2, 2020</time>
		</article>

		<article class="article animate animate__fadeInUp">
			<picture>
				<noscript class="loading-lazy">
					<source srcset="img/webp/img-blog-2.webp" type="image/webp">	
					<img laoding="lazy" src="img/img-blog-2.jpg" alt="article" class="article__pic" width="373" height="216">
				</noscript>
			</picture>
			<a href="#">
				<h2 class="article__h">
					How to Market Your Cafe as an Ideal Place to Work
				</h2>
			</a>
			<time datetime="2020-02-25" class="article__date">Feb 25, 2020</time>
		</article>

		<article class="article animate animate__fadeInUp">
			<picture>
				<noscript class="loading-lazy">
					<source srcset="img/webp/img-blog-3.webp" type="image/webp">	
					<img laoding="lazy" src="img/img-blog-3.jpg" alt="article" class="article__pic" width="373" height="216">
				</noscript>
			</picture>
			<a href="#">
				<h2 class="article__h">
					Tips for Creating an Effective Cafe Branding Strategy
				</h2>
			</a>
			<time datetime="2020-02-22" class="article__date">Feb 22, 2020</time>
		</article>

		<article class="article animate animate__fadeInUp">
			<picture>
				<noscript class="loading-lazy">
					<source srcset="img/webp/img-blog-4.webp" type="image/webp">	
					<img laoding="lazy" src="img/img-blog-4.jpg" alt="article" class="article__pic" width="373" height="216">
				</noscript>
			</picture>
			<a href="#">
				<h2 class="article__h">
					Unlock the Power of Social Media Marketing for Your Cafe
				</h2>
			</a>
			<time datetime="2020-01-23" class="article__date">Jan 23, 2020</time>
		</article>

		<article class="article animate animate__fadeInUp">
			<picture>
				<noscript class="loading-lazy">
					<source srcset="img/webp/img-blog-5.webp" type="image/webp">	
					<img laoding="lazy" src="img/img-blog-5.jpg" alt="article" class="article__pic" width="373" height="216">
				</noscript>
			</picture>
			<a href="#">
				<h2 class="article__h">
					The Pros and Cons Experienced by Coffee Professionals
				</h2>
			</a>
			<time datetime="2019-01-08" class="article__date">Jan 8, 2019</time>
		</article>

		<article class="article animate animate__fadeInUp">
			<picture>
				<noscript class="loading-lazy">
					<source srcset="img/webp/img-blog-6.webp" type="image/webp">	
					<img laoding="lazy" src="img/img-blog-6.jpg" alt="article" class="article__pic" width="373" height="216">
				</noscript>
			</picture>
			<a href="#">
				<h2 class="article__h">
					Bangkok Cafe and Neighbourhood Guide
				</h2>
			</a>
			<time datetime="2018-12-08" class="article__date">Dec 8, 2018</time>
		</article>

		<article class="article animate animate__fadeInUp">
			<picture>
				<noscript class="loading-lazy">
					<source srcset="img/webp/img-blog-7.webp" type="image/webp">	
					<img laoding="lazy" src="img/img-blog-7.jpg" alt="article" class="article__pic" width="373" height="216">
				</noscript>
			</picture>
			<a href="#">
				<h2 class="article__h">
					Tel Aviv Specialty Coffee and Travel Guide
				</h2>
			</a>
			<time datetime="2018-11-16" class="article__date">Nov 16, 2018</time>
		</article>

		<article class="article animate animate__fadeInUp">
			<picture>
				<noscript class="loading-lazy">
					<source srcset="img/webp/img-blog-8.webp" type="image/webp">	
					<img laoding="lazy" src="img/img-blog-8.jpg" alt="article" class="article__pic" width="373" height="216">
				</noscript>
			</picture>
			<a href="#">
				<h2 class="article__h">
					7 Easy Ways to Increase Your Cafe’s Foot Traffic
				</h2>
			</a>
			<time datetime="2018-11-15" class="article__date">Nov 15, 2018</time>
		</article>

		<article class="article animate animate__fadeInUp">
			<picture>
				<noscript class="loading-lazy">
					<source srcset="img/webp/img-blog-9.webp" type="image/webp">	
					<img laoding="lazy" src="img/img-blog-9.jpg" alt="article" class="article__pic" width="373" height="216">
				</noscript>
			</picture>
			<a href="#">
				<h2 class="article__h">
					Chemex Coffee Maker — Review and Brew Guide
				</h2>
			</a>
			<time datetime="2018-11-15" class="article__date">Nov 15, 2018</time>
		</article>
	</section>
	<nav class="animate__fadeIn blog__nav blog-navigation">
		<ul class="blog-navigation__links">
			<li>
				<a href="#" class="blog-navigation__link">
					&lt;
				</a>
			</li>
			<li>
				<a href="#" class="blog-navigation__link active">
					1
				</a>
			</li>
			<li>
				<a href="#" class="blog-navigation__link">
					2
				</a>
			</li>
			<li>
				<a href="#" class="blog-navigation__link">
					3
				</a>
			</li>
			<li><span>...</span></li>
			<li>
				<a href="#" class="blog-navigation__link">
					9
				</a>
			</li>
			<li>
				<a href="#" class="blog-navigation__link">
					&gt;
				</a>
			</li>
		</ul>
	</nav>
</main>

{% include 'parts/_foot.html' %}