
<footer class="wrapper footer">
	<div id="contacts" class="footer__container">
		<section id="contacts" class="contacts animate animate__fadeInUp">
			<h2 class="contacts__title">Come to us!</h2>
			<ul class="contacts__list">
				<li aria-label="Working time: 8 to 23" class="contacts__item contacts__item_time">8:00-23:00</li>
				<li class="contacts__item contacts__item_adress">
					<a target="_blank"
						class="contacts__item_links"
						href="https://www.google.com/maps/place/9532+W+Linebaugh+Ave,+Tampa,+FL+33626,+%D0%A1%D0%A8%D0%90/@28.0428122,-82.5913538,16z/data=!4m2!3m1!1s0x88c2ea5ae480fd9d:0xfebc9f0fbfcf420a?hl=ru">
						9532 W Linebaugh Ave, Tampa
					</a>
				</li>
				<li class="contacts__item contacts__item_phone">
					<a href="tel:+12538675413" class="contacts__item_links">
						+1 253 867-54-13
					</a>
				</li>
				<li class="contacts__item contacts__item_mail">
					<a href="mailto:coffeeplanet@mail.com" class="contacts__item_links">
						coffeeplanet@mail.com
					</a>	
				</li>
			</ul>
			<ul class="contacts__links">
				<li class="contacts__links__item">
					<a 
						class="contacts__links__item_facebook" 
						href="https://www.facebook.com" 
						target="_blank" 
						rel="noopener noreferref"
						aria-label="Our page at facebook">
					</a>
				</li>
				<li class="contacts__links__item">
					<a 
						class="contacts__links__item_instagram" 
						href="https://www.instagram.com" 
						target="_blank" 
						rel="noopener noreferref"
						aria-label="Our page at instagram">
					</a>
				</li>
			</ul>
		</section>

		<section class="map animate animate__fadeInUp">
			<a 
				class="map__link" 
				target="_blank" 
				rel="noopener noreferref"
				href="https://www.google.com/maps/place/9532+W+Linebaugh+Ave,+Tampa,+FL+33626,+%D0%A1%D0%A8%D0%90/@28.0428122,-82.5913538,16z/data=!4m2!3m1!1s0x88c2ea5ae480fd9d:0xfebc9f0fbfcf420a?hl=ru">
				<img 
					src="img/map.jpg"
					class="map__img" 
					alt="map of the way to the CoffeePlanet" 
					aria-label="open google map and see the address on the map">
			</a>
			<noscript class="loading-lazy">
				<iframe 
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3521.408412295317!2d-82.59113384485018!3d28.04255180756151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2ea5ae480fd9d%3A0xfebc9f0fbfcf420a!2zOTUzMiBXIExpbmViYXVnaCBBdmUsIFRhbXBhLCBGTCAzMzYyNiwg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1642682478153!5m2!1sru!2sua" 
					width="763" 
					height="463"
					frameborder="0"
					style="border:0;" 
					allowfullscreen=""
					aria-hidden="false"
					tabindex="0" 
					loading="lazy"
					class="map_iframe">
				</iframe>
			</noscript>
		</section>	
	</div>
	<div class="copyright">
		Copyright 2019 CoffeePlanet
	</div>
</footer>

<div class="animate__fadeIn modal-overlay ">

	<div id="modal-form" class="animate__fadeIn modal modal-form ">
		<h3 class="modal-form__title">Book a table</h3>
		<p class="modal-form__text">
			Leave your phone number and we will contact you
		</p>
		<form class="modal-form__form" action="../mail.php" method="POST">
			<div class="modal-form__items">
				<label Class="modal-form__items_nfields" for="fname">
					Name
				</label><br>
				<input class="modal-form__inputs" type="text" id="fname" name="firstname" placeholder="">
			</div>
			<div class="modal-form__items">
				<label class="modal-form__items_nfields"  for="tel">Phone</label><br>
				<input class="modal-form__inputs" type="tel" id="tel" name="tel_number" placeholder="">
			</div>
			<button class="modal-form__btn" type="submit">Send</button>
		</form>
	</div>

	<div id="modal-video" class="animate__fadeIn modal modal-video ">
		<noscript class="loading-lazy"> 
			<iframe 
				class="modal-video__video" 
				width="560" 
				height="315" 
				src="https://www.youtube.com/embed/5ksYdzThbhI" 
				title="YouTube video player" 
				frameborder="0" 
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
				allowfullscreen
				loading="lazy"
				>

		</noscript>
		</iframe>
	</div>

	<div id="modal-alert" class="animate__fadeIn modal modal-alert"> 
		<img class="modal-alert__sign" src="/img/icons/ico-ok.svg" alt="OK">
		<h2 class="modal-alert__title">
			Thank you!
		</h2>
		<p class="modal-alert__text">
			We will contact you as soon as possible
		</p>
	</div>

	<button aria-label="Close a modal window" class="modal-overlay__close">
	</button>
</div>

<div class="preloader">
	{% include './svgo/coffee-cup.svg' %}
	<img class="preloader__logo" src="img/logo.png" alt="Logotype of CoffeePlanet">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./js/js.js"></script>
</body>
</html>