
<div class="modal-overlay">

	<div class="modal modal-form">
		<h3 class="modal-form__title">Book a table</h3>
		<p class="modal-form__text">
			Leave your phone number and we will contact you
		</p>
		<form class="modal-form__form" action="/">
			<div class="modal-form__items">
				<label Class="modal-form__items_nfields" for="fname">
					Name
				</label><br>
				<input class="modal-form__inputs" type="text" id="fname" name="firstname" placeholder="">
			</div>
			<div class="modal-form__items">
				<label class="modal-form__items_nfields"  for="tel">Phone</label><br>
				<input class="modal-form__inputs" type="tel" id="tel" name="tel_number" placeholder="">
			</div>
			<button class="modal-form__btn" type="btn">Send</button>
		</form>
	</div>

	<div class="modal modal-video">
		<iframe class="modal-video__video" width="100%" height="auto" src="https://www.youtube.com/embed/5ksYdzThbhI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
		</iframe>
	</div>

	<div class="modal modal-alert"> 
		<img class="modal-alert__sign" src="/img/icons/ico-ok.svg" alt="OK">
		<h2 class="modal-alert__title">
			Thank you!
		</h2>
		<p class="modal-alert__text">
			We will contact you as soon as possible
		</p>
	</div>

	<button aria-label="Close a modal window" class="modal-overlay__close">
	</button>
</div>

<script src="./js/js.js"></script>
</body>
</html>